<!doctype html>
<html ng-app="generous" ng-controller="generousCtrl">

<head>
    <title>
        {{::model.options.title}}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="libs/highlight-js.github-styles.min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,300,200,200italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/generous.app.min.css">
    <script src="libs/angular.1.4.7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
    <script src="libs/highlight-js.8.3.min.js"></script>
    <script src="libs/angular-highlight.0.4.3.min.js"></script>
    <script src="libs/marked.0.3.5.min.js"></script>
    <script src="js/generous.app.min.js"></script>
</head>

<body>
<header id="gen__header">
    <span id="gen__title" ng-bind-html="::model.options.title | trusted"></span>
    <a href class="push--right">
        <generous-logo id="gen__logo"></generous-logo>
    </a>
    </span>
    <div id="genSearch" class="push--right" ng-class="{'filter--active':genSearchActive}">
        <i class="gen__icon icon__clear" ng-click="genSearchTerm=null;genSearchActive=false;"></i>
        <input id="genSearchInput" type="text" class="push--right" placeholder="Search..." ng-model="genSearchTerm" />
    </div>
</header>
<nav id="gen__nav">
    <h2>Contents</h2>
    <div class="nav__items">
        <div ng-repeat="parent in model.data" class="nav__item">
            <a href class="tree__item" ng-click="updateView(parent.hash)">{{parent.name}}</a>
            <div ng-repeat="child in parent.children track by $index" class="tree__trunk">
                <h4 ng-if="parent.children[$index-1].gendocs !== child.gendocs" class="tree__branch">{{child.gendocs}}s</h4>
                <a href class="tree__item tree__trunk tree__branch" ng-click="updateView(child.hash)">{{child.name}}</a>
                <div class="tree__trunk">
                    <div ng-repeat="grandchild in child.children" class="tree__trunk">
                        <h4 ng-if="child.children[$index-1].gendocs !== grandchild.gendocs" class="tree__branch">{{grandchild.gendocs}}s</h4>
                        <a href class="tree__branch tree__trunk" ng-click="updateView(grandchild.hash)">{{grandchild.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<main id="gen__main" ng-class="{'view--full':!genViewSource, 'view--split':genViewSource && !genSearchActive}">
    <section ng-show="genSearchActive">
        <h1>Search Results for '{{genSearchTerm}}'</h1>
        <ul id="gen__breadcrumb" class="list--inline">
            <li>
                <a href ng-click="genSearchActive=null">Cancel search</a>
            </li>
        </ul>
        <hr />
        <div ng-repeat="result in genSearch track by $index">
            <h2><a href ng-click="updateView(result.hash)">{{result.name}}</a></h2>
            <code>{{result.type}}</code>
            <p gen-markdown="result.description"></p>
        </div>
    </section>
    <section ng-show="!genSearchActive">
        <h1>{{view.name}}</h1>
        <ul id="gen__breadcrumb" class="list--inline">
            <li ng-repeat="crumb in breadcrumb">
                <a href ng-click="updateView(crumb.hash)">{{crumb.name}}</a>
            </li>
        </ul>
        <hr />
        <div ng-if="::model.options.sourceLink && view.sourceLink!==false" class="push--right text--small">
            <a href ng-click="sourceLink(view[model.options.denominator].source)">{{view[model.options.denominator].source}}: {{view[model.options.denominator].line.from}}-{{view[model.options.denominator].line.to}}</a>
        </div>
        <code class="api__type">{{view.type}}</code><span ng-if="view.parent"> of <strong>{{view.parent}}</strong></span>
        <section ng-if="view.description">
            <h2 id="description"><gen-anchor>Description</gen-anchor></h2>
            <p gen-markdown="view.description"></p>
        </section>
        <section ng-if="view.children">
            <h2><gen-anchor>Related</gen-anchor></h2>
            <div ng-repeat="related in view.children track by $index">
                <h4 ng-if="view.children[$index-1].type !== related.type"><gen-anchor link="'related_'+related.type+'s'">{{related.type}}s</gen-anchor></h4>
                <a href ng-click="updateView(related.hash)">{{related.name}}</a>
            </div>
        </section>
        <section ng-if="view.returns">
            {{view.returns}}
        </section>
        <section ng-if="view.parameters">
            <h2><gen-anchor>Parameters</gen-anchor></h2>
            <table class="genParameters__table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
                <tr ng-repeat="param in view.parameters">
                    <td>
                        {{param.name}}
                        <span ng-if="param.optional" class="param--optional">(optional)</span>
                    </td>
                    <td>
                        <span class="native-type native-type-{{param.type}}">{{param.type}}</span>
                    </td>
                    <td>
                        <span gen-markdown="param.description"></span>
                        <table ng-if="param.properties">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Description
                                </th>
                            </tr>
                            <tr ng-repeat="prop in param.properties">
                                <td>
                                    {{prop.name}}
                                    <span ng-if="prop.optional" class="param--optional">(optional)</span>
                                </td>
                                <td>
                                    <span class="native-type native-type-{{prop.type}}">{{prop.type}}</span>
                                </td>
                                <td>
                                    <span gen-markdown="prop.description"></span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </section>
        <section ng-if="view.examples">
            <h2><gen-anchor>Example</gen-anchor></h2>
            <generous-example source="example" ng-repeat="example in view.examples"></generous-example>
        </section>
    </section>
</main>
<aside id="gen__source" ng-if="genViewSource && !genSearchActive" class="view--split">
    <ul id="gen__sourceMenu" class="list--inline text--small">
        <li ng-if="sourceMap[view[model.options.denominator].source].length>0" class="dropdown__toggle">
            <a href>
                {{sourceMap[view[model.options.denominator].source].length}} other items found in {{view[model.options.denominator].source}}
            </a>
            <ul class="dropdown__menu">
                <li ng-repeat="item in sourceMap[view[model.options.denominator].source]" ng-if="hashTable[item].sourceLink!==false">
                    <a href ng-click="updateView(item)">{{hashTable[item].name}} (line: {{hashTable[item][model.options.denominator].line.from}})</a>
                </li>
            </ul>
        </li>

        <li>
            <a href ng-click="sourceLink()" id="genSourceClose">Close Source View</a>
        </li>

    </ul>
    <div id="gen__sourceView">
        <div hljs hljs-linums="genSourceLines" source="genSourceCode"></div>
    </div>
</aside>
</body>

</html>
