$regular-text-color:#262626;
$regular-text-color-muted: #3e3e3e;

$primary-color:#3BBD69;
$primary-color-emphasis:#4B7B4C;
$primary-color-muted:#E4F1EB;

$secondary-color:#4cb5ff;
$secondary-color-emphasis:#419ad9;

$inverse-color:#fff;
$inverse-color-muted:#eaeaea;
$inverse-color-emphasis:#d4d4d4;

$danger-color:#FF0000;

$hljs-lineums-width:25px;

$native-type-boolean-color:#5ED2E4;
$native-type-string-color:#E45E75;
$native-type-number-color:#6C5EE4;
$native-type-object-color:#E4BB5E;
$native-type-array-color:#C35EE4;

#gen__sourceView{
    border:none;
    margin:0;
    overflow-y:auto;
    position:absolute;
    line-height:18px;
    height:100%;
    box-sizing: border-box;
    width:100%;
    .hljs-linums{
        position:relative;
        height:100%;
        width:100%;
        font-size: 70%;
        >pre{
            height:100%;
            width:100%;
            margin: 0;
            >code{
                height:100%;
                width:calc(100% - #{$hljs-lineums-width}) ;
                overflow:auto;
            }
        }
    }
}
.hljs-linums {
    .hljs{
        padding-left:10px;
        font-size: .9em;
        line-height:18px;
    }
    pre {
        position: relative;
        overflow: hidden;
    }
    code{
        box-sizing:border-box;
        margin-left: $hljs-lineums-width;
        margin-bottom:0;
        padding:0;
        background:transparent;
        display: block;
        overflow-y: auto;
        position:relative;
        z-index:1;
        font-weight: 300;
        font-family: Menlo, monospace;
        font-size: 0.8em;
    }
    ul {
        position: absolute;
        top: 0;
        left: 0;
        z-index:0;
        line-height:18px;
        margin:0;
        bottom: 0;
        box-sizing:border-box;
        width: $hljs-lineums-width;
        padding: 0;
        border-right: 1px solid #C3CCD0;
        background-color: #EEE;
        text-align: right;
        font-family: Menlo, monospace;
        font-size: 0.9em;
        color: #AAA;
        li{
            padding-right: 4px;
            height:18px;
            position: relative;
            &.hljs-highlight:after{
                background: rgb(116, 169, 159);
                opacity: .1;
            }
            &:before, &.hljs-highlight:after{
                content:'';
                height:100%;
                left:100%;
                position:absolute;
                width:10000px;
            }
            &:not(:last-of-type):nth-child(odd):before{
                background: rgb(0, 0, 0);
                opacity: .015;
            }

        }
    }
}

