$regular-text-color:#262626;
$regular-text-color-muted: #3e3e3e;

$primary-color:#3BBD69;
$primary-color-emphasis:#4B7B4C;
$primary-color-muted:#E4F1EB;

$secondary-color:#4cb5ff;
$secondary-color-emphasis:#419ad9;

$inverse-color:#fff;
$inverse-color-muted:#eaeaea;
$inverse-color-emphasis:#d4d4d4;

$danger-color:#FF0000;

$hljs-lineums-width:25px;



$native-type-boolean-color:#5ED2E4;
$native-type-string-color:#E45E75;
$native-type-number-color:#6C5EE4;
$native-type-object-color:#E4BB5E;
$native-type-array-color:#C35EE4;


// html,body {
//     padding: 0;
//     margin: 0;
//     height:100%;
//     width:100%;
//     font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial;
//     font-weight:300;
//     font-size:14px;
//     color:$regular-text-color;
//     overflow:hidden;
// }

// strong{
//     font-weight: 500;
//     color: $regular-text-color-muted;
// }

// h1, h2, h3, h4, h5, h6{
//     font-weight:300;
// }
// h1{
//     font-size:3em;
//     margin-bottom:10px;
// }
// h2{
//     font-weight: 400;
// }
// h4{
//     font-weight: bold;
//     margin-bottom: 5px;
// }
// a{
//     text-decoration: none;
//     transition:color 150ms;
//     color: $secondary-color;
//     &:hover{
//         color:$secondary-color-emphasis;
//     }
//     &.link--dark{
//         color:$regular-text-color-muted;
//         &:hover{
//             color: $secondary-color;
//         }
//     }
//     &.link--light{
//         color:$inverse-color;
//         &:hover{
//             color:$inverse-color-emphasis;
//         }
//     }
// }

// hr{
//     border: none;
//     border-top: 1px solid $inverse-color-emphasis;
// }
// p{
//     margin: 0;
//     width: 100%;
//     max-width: 100%;
//     box-sizing: border-box;
// }
// code{
//     font-family: monospace;
//     color: $regular-text-color;
//     background:$inverse-color-muted;
//     border-radius:4px;
//     padding:2px 4px;
//     font-size:.75em;
//     .text--small &{
//         font-size: .9em;
//     }
//     &.api__type{
//         color: $primary-color-emphasis;
//         border: $primary-color;
//         background:$primary-color-muted;
//     }
// }
table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    th{
        text-align:left;
        border-bottom:1px solid $inverse-color-emphasis;
        font-weight:300;
        color:$regular-text-color-muted;
    }
    td{
        vertical-align:top;
        padding: 10px 2px;
    }
    tr:not(:last-of-type){
        td{
            border-bottom:1px dotted $inverse-color-emphasis;
        }
    }

}
.genParameters__table{
    table-layout: fixed;
    width: 100%;
    table{
        margin-top:10px;
    }
    th{
        &:nth-of-type(1){
            width: 150px;
        }
        &:nth-of-type(2){
            width:75px;
        }
    }
    .param--optional{
        color:$regular-text-color-muted;
        font-size:.8em;
    }
}

.native-type{
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    padding: 2px 10px;
    width: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    &.native-type-bool,
    &.native-type-boolean{
        background:$native-type-boolean-color;
    }
    &.native-type-string{
        background:$native-type-string-color;
    }
    &.native-type-number{
        background:$native-type-number-color;
    }
    &.native-type-object{
        background:$native-type-object-color;
    }
    &.native-type-array{
        background:$native-type-array-color;
    }
}

.push--left{
    float:left;
}
.push--right{
    float:right;
}
.text--small{
    font-size:.9em;
}
// #gen__header{
//     position: fixed;
//     top: 0;
//     width: 100%;
//     background: #333333;
//     height:50px;
//     z-index:1;
//     box-sizing:border-box;
//     padding:0 20px;
// }
// #gen__title,
// #gen__brand{
//     top:50%;
//     display:inline-block;
//     position: relative;
//     font-size: 1.5em;
//     transform:translateY(-50%);
// }
// #gen__brand{
//     font-size:1.2em;
//     text-transform:lowercase;
// }
// #gen__brand span{
//     color:$primary-color;
// }
// #gen__nav{
//     position:fixed;
//     top:75px;
//     left:20px;
//     .nav__items{
//         max-height: calc(100vh - 135px);
//         overflow: auto;
//         width: 250px;
//     }
//     .nav__item{
//         margin-bottom: 5px;
//     }
// }
// #gen__main, #gen__source{
//     width:calc(100vw - 300px);
//     left:300px;
//     position:absolute;
//     height:calc(100vh - 50px);
//     top:50px;
//     padding:0 20px 50px 0;
//     box-sizing: border-box;
//     overflow-y:auto;
// }
// #gen__main.view--split > section{
//     min-width:350px;
// }
// #gen__main {
//     padding: 0 20px 50px;
// }
// #gen__source{
//     left:calc(300px + ((100vw - 300px) / 2));
//     padding:0;
//     overflow:hidden;
//     border-left: 1px solid #F0F0F0;
// }
// #gen__main.view--split,
// #gen__source.view--split{
//     width:calc((100vw - 300px) / 2);
// }
// .list--inline{
//     list-style:none;
//     padding:0;
//     >li{
//         display:inline-block;
//         &:not(.push--right){
//             margin-right:5px;
//         }
//     }
// }

// #gen__breadcrumb> li:not(:first-child):before{
//     content:'/'
// }
// .tabset__tabs{
//     margin:0;
//     border-bottom:1px solid $inverse-color-emphasis;
//     li{
//         background:$inverse-color-muted;
//         padding:10px;
//         transition:background 150ms;
//         cursor:default;
//         user-select:none;
//         -webkit-user-select:none;
//         &.tab--active{
//             background:#5dc295;
//             color:$inverse-color;
//         }
//         &:not(.tab--active){
//             cursor:pointer;
//             &:hover{
//                 background:rgba(76, 88, 89, .3);
//             }
//         }
//     }

// }


// #gen__sourceMenu{
//     position:absolute;
//     top:0;
//     z-index: 2;
//     right: 25px;
//     padding:5px;
//     transition:all 200ms;
//     border-radius: 5px 5px 5px 0;
//     &:hover{
//         background:rgba(255,255,255,.85);
//         .dropdown__menu{
//             background:rgba(255,255,255,.85);
//             li{
//                 padding:2px 8px;
//             }
//         }
//     }
// }
// .gen__markdown{
//     p{
//         margin-bottom:10px;
//     }
// }
// pre{
//     margin:0;
// }
#gen__sourceView{
    border:none;
    margin:0;
    overflow-y:auto;
    position:absolute;
    line-height:18px;
    height:100%;
    box-sizing: border-box;
    width:100%;
    .hljs-linums{
        position:relative;
        height:100%;
        width:100%;
        >pre{
            height:100%;
            width:100%;
            >code{
                height:100%;
                width:calc(100% - #{$hljs-lineums-width}) ;
                overflow:auto;
            }
        }
    }
}
.hljs-linums {
    .hljs{
        padding-left:10px;
        font-size: .9em;
        line-height:18px;
    }
    pre {
        position: relative;
        overflow: hidden;
    }
    code{
        box-sizing:border-box;
        margin-left: $hljs-lineums-width;
        margin-bottom:0;
        padding:0;
        background:transparent;
        display: block;
        overflow-y: auto;
        position:relative;
        z-index:1;
        font-weight: 300;
        font-family: Menlo, monospace;
        font-size: 0.8em;
    }
    ul {
        position: absolute;
        top: 0;
        left: 0;
        z-index:0;
        line-height:18px;
        margin:0;
        bottom: 0;
        box-sizing:border-box;
        width: $hljs-lineums-width;
        padding: 0;
        border-right: 1px solid #C3CCD0;
        background-color: #EEE;
        text-align: right;
        font-family: Menlo, monospace;
        font-size: 0.9em;
        color: #AAA;
        li{
            padding-right: 4px;
            height:18px;
            position: relative;
            &.hljs-highlight:after{
                background: rgb(116, 169, 159);
                opacity: .1;
            }
            &:before, &.hljs-highlight:after{
                content:'';
                height:100%;
                left:100%;
                position:absolute;
                width:10000px;
            }
            &:not(:last-of-type):nth-child(odd):before{
                background: rgb(0, 0, 0);
                opacity: .015;
            }

        }
    }
}



// .dropdown__toggle .dropdown__menu{
//     display:none;
//     position:absolute;
//     left:0px;
//     padding:0;
//     transition:max-height 200ms;
//     max-height:0;
//     overflow:hidden;
//     height:0;
// }
// .dropdown__toggle:hover .dropdown__menu{
//     display:block;
//     max-height:200px;
//     height:auto;
// }

// .tree__item{
//     margin-bottom:20px;
// }

// .tree__trunk{
//     padding-left:10px;
// }
// .tree__trunk .tree__branch{
//     margin-left:10px;
// }
// .gen__exampleSnippet,
// #gen__exampleOutput{
//     width:100%;
//     box-sizing:border-box;
//     border:1px solid #EDEDED;;
//     border-top:none;
// }
// #gen__exampleLoader{
//     background:#F1F8FF;
//     padding:10px;

// }

// #genSearch{
//     position:relative;
//     width:50%;
//     margin-right:20px;
// }
// .gen__icon{
//     display:inline-block;
//     position: relative;
//     height:15px;
//     font-style:normal;
//     width:15px;
//     &:before{
//         content:'';
//         display:inline-block;
//         position:absolute;
//         top:50%;
//         left:50%;
//         transform:translateY(-50%) translateX(-50%);
//     }
// }

// .icon__clear:before{
//     content:'\2715';
// }
// #genSearch .icon__clear{
//     position:absolute;
//     right:10px;
//     top:50%;
//     margin-top:-8px;
//     cursor: pointer;
//     transform:translateY(-50%);
//     color:$inverse-color;
//     opacity:0;
//     transition:all 400ms;
//     font-size:0;
//     transform: rotate(45deg);
//     &:hover{
//         color:$danger-color;
//     }
// }

// #genSearch.filter--active .icon__clear{
//     font-size:20px;
//     transform: rotate(0deg);
//     opacity:1;
// }



// #gen__header{
//     color:$inverse-color;
// }


// .gen__anchor{
//     position: relative;
//     display:inline-block;
//     padding-left:20px;
//     left: -20px;
//     color:#262626;
// }
// .gen__anchor:hover{
//     color:#262626;
// }
// .icon__link:before {
//     content: '\1F517'
// }
// .gen__anchor .icon__link{
//     left: 0;
//     position: absolute;
//     font-weight: 100;
//     font-size: 15px;
//     top: 50%;
//     transform: translateY(-50%);
//     transition: color 200ms;
//     opacity:0;
// }
// .gen__anchor:hover .icon__link{
//     opacity:1;
// }

// .gen__logo {
//     height: 45px;
//     width: 36px;
//     margin:2px;
//     display: inline-block;
//     transform: none;
//     text-align: left;
//     position: relative

// }

// .gen__logoShard:before,
// .gen__logoShard:not(.gen__logoShard4):after {
//     -webkit-transform: none;
//     transform: none;
//     content: '';
//     display: inline-block;
//     position: absolute;
//     width: 0;
//     height: 0;
//     border-style: solid;
//     box-sizing: border-box;
//     opacity: .4;
//     animation-duration: 1s;
//     animation-iteration-count: 1;
//     transform-style: preserve-3d
// }
// .gen__logoShardGroup2 .gen__logoShard:before,
// .gen__logoShardGroup2 .gen__logoShard:not(.gen__logoShard4):after {
//     opacity:.1;
// }
// .gen__anim_phaseIn{
//     animation-name: gen__anim_phaseIn;
// }

// .gen__anim_phaseOut .gen__logoShardGroup1 .gen__logoShard:before,
// .gen__anim_phaseOut .gen__logoShardGroup1 .gen__logoShard:not(.gen__logoShard4):after {
//     animation-name: gen__anim_phaseOut;
// }
// .gen__anim_loop .gen__logoShardGroup1 .gen__logoShard:before,
// .gen__anim_loop .gen__logoShardGroup1 .gen__logoShard:not(.gen__logoShard4):after {
//     animation-iteration-count: infinite;
// }
// .gen__anim_phaseOut .gen__logoShardGroup2 {
//     display:block;
// }
// .gen__logoShardGroup2 {
//     display:none;
// }
// .gen__logoShard1:before {
//     border-width: 0 0 14px 18px;
// }
// .gen__logoShard1:after {
//     top: 14px;
//     border-width: 14px 18px 0 0;
//     animation-delay: 50ms
// }
// .gen__logoShard2:before {
//     top: 14px;
//     border-width: 14px 0 0 18px;
//     animation-delay: 100ms
// }
// .gen__logoShard2:after {
//     top: 28px;
//     border-width: 0 18px 14px 0;
//     animation-delay: 150ms
// }
// .gen__logoShard3:before {
//     top: 28px;
//     left: 18px;
//     border-width: 14px 18px 0 0;
//     animation-delay: 200ms
// }
// .gen__logoShard3:after {
//     top: 14px;
//     left: 18px;
//     border-width: 0px 0 14px 18px;
//     animation-delay: 250ms
// }
// .gen__logoShard4:before {
//     top: 14px;
//     left: 22px;
//     border-width: 0 14px 14px 0;
//     animation-delay: 300ms
// }

// .gen__logoShardGroup1 .gen__logoShard1:before {
//     border-color: transparent transparent #68F38C transparent
// }
// .gen__logoShardGroup1 .gen__logoShard1:after {
//     border-color: #68F38C transparent transparent transparent;
// }
// .gen__logoShardGroup1 .gen__logoShard2:before {
//     border-color: transparent transparent transparent #68F38C;
// }
// .gen__logoShardGroup1 .gen__logoShard2:after {
//     border-color: transparent #68F38C transparent transparent;
// }
// .gen__logoShardGroup1 .gen__logoShard3:before {
//     border-color: #68F38C transparent transparent transparent;
// }
// .gen__logoShardGroup1 .gen__logoShard3:after {
//     border-color: transparent transparent #68F38C transparent;
// }
// .gen__logoShardGroup1 .gen__logoShard4:before {
//     border-color: transparent #68F38C transparent transparent;
// }
// .gen__logoShardGroup2 .gen__logoShard1:before {
//     border-color: transparent transparent #fff transparent
// }
// .gen__logoShardGroup2 .gen__logoShard1:after {
//     border-color: #fff transparent transparent transparent;
// }
// .gen__logoShardGroup2 .gen__logoShard2:before {
//     border-color: transparent transparent transparent #fff;
// }
// .gen__logoShardGroup2 .gen__logoShard2:after {
//     border-color: transparent #fff transparent transparent;
// }
// .gen__logoShardGroup2 .gen__logoShard3:before {
//     border-color: #fff transparent transparent transparent;
// }
// .gen__logoShardGroup2 .gen__logoShard3:after {
//     border-color: transparent transparent #fff transparent;
// }
// .gen__logoShardGroup2 .gen__logoShard4:before {
//     border-color: transparent #fff transparent transparent;
// }
// @keyframes gen__anim_phaseOut {
//     0% {

//         opacity: .7
//     }
//     50% {
//         opacity: 0
//     }
//     100% {
//         opacity: .7
//     }
// }


// @keyframes gen__anim_phaseIn {
//     0% {

//         opacity: 0
//     }
//     50% {
//         opacity: .4
//     }
//     100% {
//         opacity: 0
//     }
// }

// ::-ms-clear {
//     display: none;
// }